*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.container{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

header {
    height: auto;
    background-image: url(img/jumbo.png);
    background-size: cover;
    padding-bottom: 20%;    
}

#logo{
    max-width: 100px;
    height: auto;
    float: left;
}

ul{
    text-align: center;
}

li{
    color: white;
    font-size: 16px;
    display: inline ;
    list-style: none;
    margin: 0 2px;
}

button {
    padding: 5px;
    border-radius: 40%;
}

#accedi{
    float: right;
}

h1{
    text-align: center;
    color: white;
    margin-top: 10%;
}

.sottotitolo{
    text-align: center;
    color: white;
    margin: 10px 20%;
}

.bottoni-header{
    text-align: center;
}

section {
    width: 100%;
    height: 400px;
 
}

.immagini{
    width: 400px;
    float: left;
    margin-top: 20px;
}
.immagini img {
    width: 100%;
}

.description{
    margin: 30px 10% 0 0;
}

#second{
    height: 300px;
    background-color: blueviolet;
}

#third{
    height: 300px;
    background-color: red;
}

footer{
    height: 300px;
    background-color: black;
}

